.project {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.header {

}

.info {}

.divider {

}

.general-info {
    display: flex;
    justify-content: space-between;
}

.image-info {

}

.secondary-info {

}

.screens {

}

.list-info {

}