.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
    background: #211E20;
}

.header {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-right: 300px;
    margin-top: 40px;
}

.close-btn {
    font-size: 56px;
    cursor: pointer;
}

.links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.link {
    font-size: 56px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.link:hover {
    color: #d3708e;
}