.wrapper {
    position: relative;
    display: flex;
    height: 100%;
    margin-bottom: 20px;
}

.info-item {
    display: flex;
    align-items: center;
    position: relative;
    max-width: 336px;
    width: 100%;
    min-width: 330px;
    height: 56px;
    border: 1px solid white;
    cursor: pointer;
    box-sizing: content-box;
}

.info-item span {
    white-space: nowrap;
    margin: 0 15px;
}

.info-item:hover {
    background: white;
    color: #111111;
}
