.wrapper {
    position: relative;
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}

.info-item {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    min-width: 330px;
    height: 56px;
    border: 1px solid white;
    cursor: pointer;
    box-sizing: content-box;
}

.info-item span {
    margin: 0 15px;
}

.info-item:hover {
    background: white;
    color: #111111;
}

@media screen and (min-width: 992px) {
    .info-item span {
        white-space: nowrap;
    }
}