.info-item {
    display: flex;
    align-items: center;
    position: relative;
    width: 400px;
    height: 56px;
    padding-left: 30px;
    margin-bottom: 20px;
    border: 1px solid white;
    cursor: pointer;
}

.info-item:hover .line {
    border-top: 1px solid white;
}

.info-item:hover {
    background: white;
    color: #111111;
}


.line {
    position: absolute;
    width: 65px;
    right: -65px;
}