.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
    background-color: #211E20;
    opacity: 0.8;
}

.close-btn-wrapper {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-right: 100px;
}

.header {
    display: flex;
    justify-content: center;
    width: 100%;
}

.close-btn {
    font-size: 56px;
    cursor: pointer;
}

.form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

