.for-what {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.info-menu {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}

.info-block-wrapper {
    margin-left: 64px;
    margin-right: 64px;
    padding: 16px;
    height: 336px;
    border: 1px solid white;
}

.info {
    display: flex;
    align-items: flex-start;
    height: 337px;
    margin-top: 80px;
    margin-bottom: 100px;
}

.items {
    margin-top: 80px;
}

.circle-wrapper {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}