.for-what {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
}

.title {
    margin-bottom: 10px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.info-menu {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: start;
}

.info {
    display: flex;
    align-items: start;
    margin-top: 80px;
    margin-bottom: 200px;
}

.items {
    margin-top: 80px;
}

.info-block {
    display: flex;
    flex-direction: column;
    height: 337px;
    width: 300px;
    margin-left: 64px;
    padding: 16px;
    border: 1px solid white;
}

.info-block-hidden {
    display: none;
}

.divider {
    margin-bottom: 8px;
}
