.for-what {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.info {
    display: flex;
}

.info-menu {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}

.info-block-wrapper {
    width: 1px;
    transition: width 1s, opacity 0.5s;
    transition-delay: .5s;
    opacity: 0;
    border: 1px solid white;
    height: 380px;
    overflow: hidden;
}

.info-block-content {
    padding: 16px;
    height: 100%;
    opacity: 0;
    transition: opacity 1s;
    transition-delay: 1.5s;
    overflow-y: scroll;
}

.width-transition {
    width: 400px;
}

.opacity-transition {
    opacity: 1;
}

.content {
    display: flex;
    align-items: flex-start;
    height: 380px;
    margin-top: 80px;
    margin-bottom: 100px;
}

.animated-line {
    display: block;
    width: 50px;
}

.items {
    margin-top: 80px;
}

.circle-wrapper {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.circle-wrapper svg {
    width: 270px;
    transition: width 1s ease-in;
    transition-delay: .5s;
}

.circle-wrapper-shifted svg {
    width: 100px;
}
