.form {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    flex: 50%;
    margin-top: 30px;
    max-width: 608px;
    width: 100%;
}

.field-wrapper {
    width: 100%;
    margin-bottom: 20px
}

.form-field {
    width: 100%;
}