.logo {
    -webkit-animation: glow 12s infinite; /* Chrome, Safari, Opera */
    animation: glow 12s infinite;
}


/* Chrome, Safari, Opera */
@-webkit-keyframes glow {
    50% {
        filter: drop-shadow(0px 16px 40px #D3708E);
    }
}

/* Standart */
@keyframes glow {
    50% {
        filter: drop-shadow(0px 16px 40px #D3708E);
    }
}