.circle-left {
    position: absolute;
    left: -8px;
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 100%;
}

.item {
    position: relative;
    height: 100%;
    margin-left: 8px;
    border-left: 1px solid white;
    cursor: pointer;
}

.item:hover .circle-left {
    background-color: #d3708e;
}

.item:hover .item-text {
    color: #d3708e;
}

.item-pink {
    height: 100%;
    border-left: 1px solid #d3708e;
}

.circle-left-pink {position: absolute;
    left: -8px;
    width: 16px;
    height: 16px;
    background-color: #d3708e;
    border-radius: 100%;
}

.item-pink:last-child {
    border-left: none;
}

.item:last-child {
    border-left: none;
}

.item-text {
    margin-left: 20px;
    margin-top: -7px;
}