.circle-left {
    position: absolute;
    left: -8px;
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 100%;
    opacity: 0;
    animation: showCircle 1s;
    animation-fill-mode: forwards;
}

.item {
    position: relative;
    height: 60px;
    margin-left: 8px;
    opacity: 0;
    animation: showCircle 1s;
    animation-fill-mode: forwards;
    border-left: 1px solid white;
}

.item:hover .circle-left {
    background-color: #d3708e;
}

.item:hover .item-text {
    color: #d3708e;
}

.item-pink {
    height: 100%;
    border-left: 1px solid #d3708e;
}

.circle-left-pink {
    position: absolute;
    left: -8px;
    width: 16px;
    height: 16px;
    background-color: #d3708e;
    border-radius: 100%;
    opacity: 0;
    animation: showCircle 1s;
    animation-fill-mode: forwards;
}

.item-pink:last-child {
    border-left: none;
}

.item:last-child {
    border-left: none;
}

.item-text {
    margin-left: 20px;
    margin-top: -7px;
    opacity: 0;
    animation: showText 1.5s;
    animation-fill-mode: forwards;
}

@keyframes showCircle {
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes showText {
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}