.portfolio {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
    width: 100%;
    height: 100vh;
    font-size: 40px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.content-block {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.works-wrapper {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    width: 47%;
}

.works {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 500px;
    width: 47%;
}

.work-info-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 300px;
    width: 47%;
    max-height: 500px;
    height: 100%;
}

.animation-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 47%;
}