.expertise {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.info-menu {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: start;
}

.info {
    display: flex;
    align-items: start;
    height: 337px;
    margin-top: 80px;
    margin-bottom: 100px;
}

.items {
    margin-top: 80px;
}

.animation-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 100%;
}