.questions-wrapper {
    margin-top: 200px;
    margin-bottom: 57px;
    background-color: white;
    color: #141515;
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
}

.questions {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    width: 1000px;
    background-color: white;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 50%;
    margin-top: 50px;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.form {
    display: flex;
    flex: 50%;
    margin-top: 30px;
}

.animation {
    display: flex;
    flex: 50% 1;
    padding-top: 42px;
    height: 500px;
    align-items: start;
    justify-content: center;
}
