.wrapper {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.title {
    position: absolute;
    top: 35%;
}

.btn {
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: center;
    width: 608px;
    top: 60%;
}
