.wrapper {
    display: flex;
    justify-content: center;
    height: 450px;
}

.title {
    position: absolute;
    top: 200px;
}

.btn {
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: center;
    width: 608px;
    top: 400px;
}
