.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 6%;
    background-color: rgba(33, 30, 32, 0.8);
    z-index: 3;
}

.logo-wrapper {
    display: flex;
    justify-content: flex-start;
    width: 80%;
}

.logo-mobile {
    height: 20px;
}
