.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 112px;
    background-color: #211E20;
    opacity: .8;
}

.contactUsBtn {
    width: 188px;
    color: white;
    background-color: #d3708e;
}

.logo {
    max-height: 56px;
    width: 100%;
}

.menu {
    max-width: 188px;
    width: 100%;
}

.menu img {
    max-width: 40px;
    width: 100%;
}