.expertise-item {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    min-width: 300px;
    margin-left: 64px;
    margin-right: 64px;
    padding: 16px;
    border-left: 1px solid white;
}

.divider {
    margin-bottom: 8px;
}

.read-more {
    margin-top: 32px;
}

.circle-left {
    position: absolute;
    left: -8px;
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 100%;
}

.item {
    height: 20px;
    margin: 10px 0;
}