.info-block {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 300px;
}

.title {
    font-size: 40px;
}

.divider {
    margin-bottom: 8px;
    font-size: 24px;
}

.read-more {
    margin-top: 32px;
}
