.info-block {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.title {
    font-size: 35px;
}

.divider {
    margin-bottom: 8px;
    font-size: 24px;
    white-space: nowrap;
}

.read-more {
    margin-top: 32px;
}
