.contacts {
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
    margin-bottom: 100px;
}

.title {
    font-size: 40px;
    text-transform: uppercase;
}

.contact-item {
    display: flex;
    margin-top: 25px;
}

.social-items {
    display: flex;
    margin-top: 25px;
}

.divider {
    margin-top: 5px;
    margin-bottom: 8px;
    font-size: 24px;
}

.icon {
    width: 40px;
    height: 40px;
    margin-right: 65px;
    background-size: contain !important;
}

.linkedin {
    background: url('../../images/icons/contacts/linkedin.svg') no-repeat;
}

.linkedin:hover {
    background: url('../../images/icons/contacts/linkedin-pink.svg') no-repeat;
}

.facebook {
    background: url('../../images/icons/contacts/facebook.svg') no-repeat;
}

.facebook:hover {
    background: url('../../images/icons/contacts/facebook-pink.svg') no-repeat;
}

.instagram {
    background: url('../../images/icons/contacts/instagram.svg') no-repeat;
}

.instagram:hover {
    background: url('../../images/icons/contacts/instagram-pink.svg') no-repeat;
}