.services {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 200px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.info-menu {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: start;
}

.info {
    display: flex;
    align-items: start;
    flex-direction: row-reverse;
    height: 570px;
    margin-top: 80px;
    margin-bottom: 100px;
}

.info-block {
    height: 800px;
}

.items {
    margin-top: 80px;
}

