.services {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 100px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.content {
    display: flex;
    align-items: flex-start;
    flex-direction: row-reverse;
    height: 570px;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 100px;
}

.info-menu {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}

.info {
    display: flex;
    flex-direction: row-reverse;
}

.info-block-wrapper {
    margin-left: 44px;
    margin-right: 44px;
    padding: 16px;
    border: 1px solid white;
    height: 600px;
}

.items {
    margin-top: 80px;
}

.circleWrapper {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.circle-wrapper-shifted {
    justify-content: flex-start;
}

.circle-wrapper-shifted svg {
    animation: changeSize 500ms ease-in;
    animation-fill-mode: forwards;
}

@keyframes changeSize {
    0% {
        width: 100%;
    }

    100% {
        width: 100px;
    }
}