.services {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 100px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.content {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 100px;
}

.info-menu {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}

.animated-line {
    display: block;
    max-width: 50px;
    width: 100%;
}

.info {
    display: flex;
    flex-direction: row-reverse;
}

.info-block-wrapper {
    padding: 16px;
    border: 1px solid white;
}

.items {
    margin-top: 80px;
}

.circleWrapper {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.circle-wrapper-shifted {
    justify-content: flex-start;
}

.circle-wrapper-shifted svg {
    width: 100px;
}
