.how-we-work {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    margin-bottom: 200px;
}

.title {
    margin-bottom: 10px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: start;
}
