.contacts {
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
    margin-bottom: 100px;
}

.title {
    font-size: 40px;
    text-transform: uppercase;
}

.contactItem {
    display: flex;
    margin-top: 25px;
}

.socialItems {
    display: flex;
    margin-top: 25px;
}

.social {
    margin-right: 30px;
}

.divider {
    margin-top: 5px;
    margin-bottom: 8px;
    font-size: 24px;
}
