.wrapper {
    margin: 10px 40px 10px 0;
}

.icon {
    background: url('../../../images/icons/portfolio/portfolio-work.svg') no-repeat center;
    width: 60px;
    height: 80px;
}

.icon:hover {
    background: url('../../../images/icons/portfolio/portfolio-work-hover.svg') no-repeat center;
}

.icon-active {
    background: url('../../../images/icons/portfolio/portfolio-work-active.svg') no-repeat center;
    width: 60px;
    height: 80px;
}

.title {
    font-size: 24px;
}