.works-wrapper {
    overflow: hidden;
}

.header {
    display: flex;
    flex-direction: row;
    max-width: 365px;
    font-size: 32px;
    white-space: nowrap;
    overflow: hidden;
}

.divider {
    margin-left: 10px;
}

.works {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 15px;
}
